<head>
    <link rel="stylesheet" href="/css/style-header.css">
</head>
<header>
    <nav class="header-nav">
        <ul class="nav-list">
            <a href="">
                <p>Home</p>
            </a>
            <a href="">
                <p>Product</p>
            </a>
            <a href="">
                <p>About</p>
            </a>
            <a href="">
                <p>Contact</p>
            </a>
        </ul>
    </nav>

</header>