* {
  box-sizing: border-box;
}

p {
  color: lightskyblue;
  font-family: "Lato", sans-serif;
}

.nav-list,
.header-nav,
header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav.header-nav {
  background-color: rgb(51, 51, 51);
  border-radius: 6px;
}

nav.header-nav ul a p {
  border-right: cornflowerblue solid 1px;
  padding-right: 30px;
  padding-left: 25px;
}
